*, *:before, *:after {
  box-sizing: border-box;
}

/* common styles */

body {
  background-color: #333;
  font-family: Helvetica, sans-serif;
  font-size: 9px;
}

h1, h3 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2em;
}

h3 {
  font-weight: normal;
  font-size: 1.5em;
  line-height: 2em;
}

nav {
  background-color: black;
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: relative;
  height: 55px;
  width: 420px;
}

/* style classes */
.arrow {
  display: inline;
  float: right;
  margin: 10px 1% 0 1%;
  padding: 5px;
  width: 10%;
}

.container {
  float: center;
  margin: 0 auto;
  width: 420px;
}

.content {
  display: inline;
  float: left;
  margin: 10px 1% 0 12px;
  padding: 5px;
  width: 82%;
}

.location {
  border-bottom: 1px solid;
  float: left;
  margin: 0;
  padding: 1%;
  height: 70px;
  width: 100%;
}

.location:hover {
  color: #008FFF;
}

.restaurant-list {
  background-color: #DEDEDE;
  float: left;
  width: 100%;
}
